/* Google Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* Universal Font */
* {
    font-family: "Montserrat", sans-serif;
}

/* Navbar styles */
.navbar {
    background-color: black;
    color: #fff;
}

.navbar-brand {
    font-weight: bold;
    font-family: "Ubuntu", sans-serif;
}

.navbar a {
    color: #fff;
}

.navbar-toggler-icon {
    color: white;
    font-size: 2em;
    height: auto;
    width: auto;
}

.dropdown-menu {
    background-color: black;
}

/* Blog posts */
.featured-posts {
    padding: .5rem;
}
.blog-post-main {
    background-color: hsl(56, 100%, 94%);
}

.blog-info {
    padding: .5em;
}

.blog-post-main .blog-info h2 {
    font-weight: bold;
}

.blog-info p {
    font-size: 1.1rem;
    letter-spacing: 1px;
}