

/* Navbar styles */
.navbar {
    background-color: black;
    color: #fff;
}
.navbar a {
    color: #fff;
}

.navbar-toggler-icon {
    color: white;
    font-size: 2em;
    height: auto;
    width: auto;
}

.dropdown-menu {
    background-color: black;
}